{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">

    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/arrow_back.svg">
        </button>

        <button class="button">
            <img width="24px" height="24px" src="/img/ava.png">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <div class="tab">
        <button class="button button-tab">База знань</button>

        <button class="button button-tab">Інформація</button>
    </div> --}}

    {{!-- <main class="post__list">
        <div class="post button">

            <img class="img-comm" src="/img/comm.png">

        </div>

        <div class="post button post--viewed">
            <div class="post__header">Що таке база знань?</div>
            <p class="post__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте
                и знаниях в некоторой предметной
                области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом
                решения предыдущих
                задач.</p>
        </div>

        <button class="button button-trans">Перейти до ком'юніті у Телеграм</button>

    </main> --}}

</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}