.page {
  padding: 24px;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button {
  transition: opacity 0.7s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.button-tab {
  width: 100%;
  display: flex;

  justify-content: center;

  padding-bottom: 12px;
  border-bottom: 1px solid #888;

  color: #888;
}

.button-trans {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  border-radius: 10px;
  background: #f46f17;
}

.tab {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
}

.img-comm {
  width: 100%;
}

.title {
  font-size: 24px;
  color: #121212;
}

.post__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &--viewed {
    background-color: transparent;
    border-color: #e6e6e6;

    .post__info {
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: #000000;
    }
  }
}

.post__header {
  color: black;

  font-size: 18px;
  font-weight: 500;
}

.post__category-list {
  display: flex;
  gap: 8px;
}

.post__date {
  color: #8888;
  font-size: 14px;
}

.post__info {
  color: #121212;
  font-size: 16px;
  line-height: 1.4em;
}

.post__category {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 50px;

  &--1 {
    color: #f46f17;
    background-color: #f7e9e1;
  }

  &--2 {
    color: #ef5da8;
    background-color: #f6e8ef;
  }
}
